@import 'abstracts/variables';

body {
    background: var(--background);
    color: var(--textDark);
}

.primary-color {
    color: $primary !important;
}

.is-primary {
    background-color: $primary !important;
}

.navbar-brand {
    font-size: 2rem;
}

small {
    color: var(--textLight);
    display: block;
}

@media only screen and (max-width: 768px) {
    body {
        background: #fff;
    }
}